doc/IDL/Service.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Thomas Rustemeyer
  (Harman/Becker Automotive Systems) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
  <xs:group name="Header">
    <xs:sequence>
      <xs:element ref="Name" />
      <xs:element ref="ID" minOccurs="0" />
      <xs:element ref="Description" minOccurs="0" />
      <xs:element ref="Deprecated" minOccurs="0" />
      <xs:element ref="Hint" minOccurs="0" />
      <xs:element ref="Extern" minOccurs="0" />
    </xs:sequence>
  </xs:group>
  <xs:element name="DSI">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="Header" />
        <xs:element name="Abstract" type="xs:string"
          minOccurs="0" />
        <xs:element name="Version" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Major" type="xs:nonNegativeInteger" />
              <xs:element name="Minor" type="xs:nonNegativeInteger" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BaseInterface" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Path" type="xs:string"
                minOccurs="1" />
              <xs:element name="Version" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Major" type="xs:nonNegativeInteger"
                      minOccurs="1" />
                    <xs:element name="Minor" type="xs:nonNegativeInteger"
                      minOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Includes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Include" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"
                      minOccurs="0" />
                    <xs:element name="Major" type="xs:nonNegativeInteger"
                      minOccurs="0" />
                    <xs:element name="Minor" type="xs:nonNegativeInteger"
                      minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="DataTypes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataType" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="Header" />
                    <xs:element name="Kind">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Structure" />
                          <xs:enumeration value="Streamable" />
                          <xs:enumeration value="Typedef" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Namespace" type="xs:string"
                      minOccurs="0" />
                    <xs:element name="Include" type="xs:string"
                      minOccurs="0" />
                    <xs:element name="Container" type="xs:string"
                      minOccurs="0" />
                    <xs:element name="Fields" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Fields is only relevant if
                          Kind is Structure</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Field" minOccurs="0"
                            maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="Header" />
                                <xs:element name="DefaultValue"
                                  type="xs:string" />
                                <xs:element ref="Type" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="BaseType" type="xs:string"
                      minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Enums" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Enum" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="Header" />
                    <xs:element name="EnumIDs" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EnumID"
                            maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="Header" />
                                <xs:element name="Value"
                                  type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Methods" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Method" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="Header" />
                    <xs:element name="Type">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Request" />
                          <xs:enumeration value="Response" />
                          <xs:enumeration value="Information" />
                          <xs:enumeration value="Register" />
                          <xs:enumeration value="UnRegister" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="Response" type="xs:string"
                      minOccurs="0" />
                    <xs:element name="Parameters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parameter"
                            minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:group ref="Header" />
                                <xs:element ref="Type" />
                                <xs:element name="IsDefault"
                                  type="xs:string" minOccurs="0" />
                                <xs:element name="DefaultValue"
                                  type="xs:string" minOccurs="0" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attributes" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Attribute" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="Header" />
                    <xs:element ref="Type" />
                    <xs:element name="Notify" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Constants" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Constant" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:group ref="Header" />
                    <xs:element ref="Type" />
                    <xs:element name="Value" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Description" type="xs:string" />
  <xs:element name="ID" type="xs:integer" />
  <xs:element name="Name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the Element</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Type" type="xs:string" />
  <xs:element name="Deprecated" type="xs:string" />
  <xs:element name="Hint" type="xs:string" />
  <xs:element name="Extern" type="xs:string" />
</xs:schema>
